<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <h2 th:text="${titulo}"></h2>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div>
            <label for="pais">Pais</label>
            <div>
                <select id="pais" th:field="*{pais}">
                    <option value="">--seleccione--</option>
                    <option th:each="pais:${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option>
                </select>
            </div>
            <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
        </div>
        <div>
            <label for="name">Name</label>
            <div>
                <input type="text" id="name" th:field="*{name}">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="lastname">Lastname</label>
            <div>
                <input type="text" id="lastname" th:field="*{lastname}">
            </div>
            <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
        </div>
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" th:field="*{password}" id="password">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="text" id="email" th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="cuenta">Cuenta</label>
            <div>
                <input type="number" id="cuenta" th:field="*{cuenta}">
            </div>
            <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
        </div>
        <div>
            <label for="fechaDeNacimiento">Fecha Nacimiento</label>
            <div>
                <input type="date" id="fechaDeNacimiento" th:field="*{fechaDeNacimiento}" placeholder="yyyy/MM/dd">
            </div>
            <div th:if="${#fields.hasErrors('fechaDeNacimiento')}" th:errors="*{fechaDeNacimiento}" ></div>
        </div>
        <div>

            <div>
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</body>

</html>